<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dssm.esc">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="23" />

    <!-- 环信sdk需要的权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 添加SD卡读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 【必须】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 【可选】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" -->
    <!-- android:theme="@android:style/Theme.Holo.Light.NoActionBar" -->
    <application
        android:name="com.easemob.chatuidemo.DemoApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:installLocation="preferExternal"
        android:label="@string/app_name"
        android:persistent="true"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar">

        <!-- android:launchMode="singleTask"是为了账号在别处登录时，在此界面进行提醒，从而进行重新登录 -->
        <activity
            android:name=".view.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".view.activity.IntroductionActivity" />
        <activity android:name=".view.activity.DismissValuationActivity" />
        <activity
            android:name=".view.activity.AddeValuationActivity"
            android:windowSoftInputMode="stateHidden|stateVisible|adjustResize" />
        <activity android:name=".view.activity.EmergencyTypeActivity" />
        <activity android:name=".view.activity.PlanNameActivity" />
        <activity android:name=".view.activity.DrillSelectActivity" />
        <activity android:name=".view.activity.PlanStarActivity" />
        <activity android:name=".view.activity.PlanStarDetailActivity" />
        <activity android:name=".view.activity.AutorizationDecisionActivity" />
        <activity android:name=".view.activity.AutorizateDecDetailActivity" />
        <activity android:name=".view.activity.SignInActivity" />
        <activity android:name=".view.activity.PersonnelAssignmentActivity" />
        <activity android:name=".view.activity.AssignmentActivity" />
        <activity android:name=".view.activity.PlanExecutionActivity" />
        <activity android:name=".view.activity.PlanExecutionDetailActivity" />
        <activity android:name=".view.activity.SubmitInfomationActivity" />
        <activity android:name=".view.activity.OperationMenuActivity" />
        <activity android:name=".view.activity.CollaborativeCircularActivity" />
        <activity android:name=".view.activity.RecieveListActivity" />
        <activity android:name=".view.activity.AddRecievePeoPleActivity" />
        <activity android:name=".view.activity.EventProcessActivity" />
        <activity android:name=".view.activity.EventProcessDetailActivity" />
        <activity android:name=".view.activity.ControlActivity" />
        <activity android:name=".view.activity.GroupSigninDetail" />
        <activity android:name=".view.activity.SendCollaborativeActivity" />
        <activity
            android:name=".view.activity.PlanSuspandDetilActivity"
            android:windowSoftInputMode="stateHidden|stateVisible|adjustResize" />
        <activity android:name=".view.activity.SendMeassageActivity" />
        <activity
            android:name=".view.activity.PermissionsActivity"
            android:theme="@style/AppTheme.NoActionBar.Permissions"/>
        <!-- &lt;!&ndash; 程序卸载广播 &ndash;&gt; -->
        <!-- <receiver -->
        <!-- android:name=".BootReceiver" -->
        <!-- android:label="@string/app_name" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.PACKAGE_ADDED" /> -->
        <!-- <action android:name="android.intent.action.PACKAGE_REMOVED" /> -->


        <!-- <data android:scheme="package" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- 开屏页 -->
        <!-- android:theme="@style/horizontal_slide" -->
        <activity
            android:name="com.easemob.chatuidemo.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 登陆 -->
        <!-- android:theme="@style/horizontal_slide" -->
        <activity
            android:name="com.easemob.chatuidemo.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize|stateVisible"></activity>

        <!-- 注册 -->
        <activity
            android:name="com.easemob.chatuidemo.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize|stateVisible"></activity>
        <!-- 聊天页面 -->
        <activity
            android:name="com.easemob.chatuidemo.activity.ChatActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize"></activity>

        <!-- 自定义的contextmenu -->
        <activity
            android:name="com.easemob.chatuidemo.activity.ContextMenu"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle"></activity>
        <!-- 自定义的alertdialog -->
        <activity
            android:name="com.easemob.chatuidemo.activity.AlertDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle"></activity>
        <activity
            android:name="com.easemob.chatuidemo.activity.EditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateVisible"></activity>

        <!-- upload error log -->
        <activity
            android:name="com.easemob.chatuidemo.activity.DiagnoseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <!-- iOS offline push nick -->
        <activity
            android:name="com.easemob.chatuidemo.activity.OfflinePushNickActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <!-- robots list -->
        <!-- <activity -->
        <!-- android:name="com.easemob.chatuidemo.activity.RobotsActivity" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/horizontal_slide" -->
        <!-- android:windowSoftInputMode="stateAlwaysHidden" > -->
        <!-- </activity> -->


        <!-- 设置环信应用的appkey 原来的key：dssm-zsj#esc -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="escxj#escchinaxj" />
        <!-- 声明sdk所需的service SDK核心功能 -->
        <service android:name="com.easemob.chat.EMChatService" />

        <!-- 声明sdk所需的receiver -->
        <receiver android:name="com.easemob.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="2WTnYCGGA5wTW8svKpSCARnL" />
        <!-- 2WTnYCGGA5wTW8svKpSCARnL -->
        <!-- 3ecea51f560650b1ed8a4b99808f52e8 -->


        <!-- <activity -->
        <!-- android:name="com.easemob.chatuidemo.activity.MainActivity" -->
        <!-- android:launchMode="singleTask" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/horizontal_slide" -->
        <!-- android:windowSoftInputMode="adjustPan" /> -->
        <!-- 信鸽 -->


        <!-- 【必须】 信鸽receiver广播接收 -->
        <receiver
            android:name="com.tencent.android.tpush.XGPushReceiver"
            android:process=":xg_service_v3">
        <intent-filter android:priority="0x7fffffff" >

            <!-- 【必须】 信鸽SDK的内部广播 -->
            <action android:name="com.tencent.android.tpush.action.SDK" />
            <action android:name="com.tencent.android.tpush.action.INTERNAL_PUSH_MESSAGE" />
            <!-- 【必须】 系统广播：网络切换 -->
            <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

            <!-- 【可选】 系统广播：开屏 -->
            <action android:name="android.intent.action.USER_PRESENT" />

            <!-- 【可选】 一些常用的系统广播，增强信鸽service的复活机会，请根据需要选择。当然，你也可以添加APP自定义的一些广播让启动service -->
            <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
            <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
            <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
        </intent-filter>
        <!-- 【可选】 usb相关的系统广播，增强信鸽service的复活机会，请根据需要添加 -->
        <intent-filter android:priority="0x7fffffff" >
            <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
            <action android:name="android.intent.action.MEDIA_REMOVED" />
            <action android:name="android.intent.action.MEDIA_CHECKING" />
            <action android:name="android.intent.action.MEDIA_EJECT" />

            <data android:scheme="file" />
        </intent-filter>
        </receiver>
        <!-- 【必须】 (2.30及以上版新增)展示通知的activity -->
        <!-- 【注意】 如果被打开的activity是启动模式为SingleTop，SingleTask或SingleInstance，请根据通知的异常自查列表第8点处理 -->
        <activity
            android:name="com.tencent.android.tpush.XGPushActivity"
            android:theme="@android:style/Theme.Translucent"
            android:exported="true">
            <intent-filter>

                <!-- 若使用AndroidStudio，请设置android:name="android.intent.action" -->
                <action android:name="android.intent.action" />
            </intent-filter>
        </activity>

        <!--&lt;!&ndash; 【必须】 信鸽service &ndash;&gt;-->
        <!--<service-->
            <!--android:name="com.tencent.android.tpush.service.XGPushService"-->
            <!--android:exported="true"-->
            <!--android:persistent="true"-->
            <!--android:process=":xg_service_v2" />-->

        <!--&lt;!&ndash; 【必须】 通知service，此选项有助于提高抵达率 &ndash;&gt;-->
        <!--<service-->
            <!--android:name="com.tencent.android.tpush.rpc.XGRemoteService"-->
            <!--android:exported="true">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.dssm.esc.PUSH_ACTION" />-->
            <!--</intent-filter>-->
        <!--</service>-->

        <!-- 【必须】 信鸽service -->
        <service
            android:name="com.tencent.android.tpush.service.XGPushServiceV3"
            android:exported="true"
            android:persistent="true"
            android:process=":xg_service_v3" />

        <!-- 【必须】 增强xg_service存活率  -->
        <service
            android:name="com.tencent.android.tpush.service.XGDaemonService"
            android:process=":xg_service_v3" />
        <!-- 【可选】APP实现的Receiver，用于接收消息透传和操作结果的回调，请根据需要添加 -->
        <!-- YOUR_PACKAGE_PATH.CustomPushReceiver需要改为自己的Receiver： -->
        <receiver android:name=".util.receiver.MessageReceiver"
            android:exported="true" >
            <intent-filter>

                <!-- 接收消息透传 -->
                <action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />
                <!-- 监听注册、反注册、设置/删除标签、通知被点击等处理结果 -->
                <action android:name="com.tencent.android.tpush.action.FEEDBACK" />
            </intent-filter>
        </receiver>
        <!-- 【必须】 【注意】authorities修改为 包名.AUTH_XGPUSH, 如demo的包名为：com.qq.xgdemo-->
        <provider
            android:name="com.tencent.android.tpush.XGPushProvider"
            android:authorities="com.dssm.esc.AUTH_XGPUSH"
            android:exported="true"
            />

        <!-- 【必须】 【注意】authorities修改为 包名.TPUSH_PROVIDER, 如demo的包名为：com.qq.xgdemo-->
        <provider
            android:name="com.tencent.android.tpush.SettingsContentProvider"
            android:authorities="com.dssm.esc.TPUSH_PROVIDER"
            android:exported="false" />

        <!-- 【必须】 【注意】authorities修改为 包名.TENCENT.MID.V3, 如demo的包名为：com.qq.xgdemo-->
        <provider
            android:name="com.tencent.mid.api.MidProvider"
            android:authorities="com.dssm.esc.TENCENT.MID.V3"
            android:exported="true" >
        </provider>
        <!--
            信鸽账号：1505197763
            密码：12345@esc
        -->
        <!-- com.dssm.esc          ACCESS ID: 2100153480 ACCESS KEY:A91IJE8B3M6G SECRET KEY:02325ee0aed81be29120c328d2d239f0 -->
        <!-- com.escchinaxj.bcm    ACCESS ID: 2100195531 ACCESS KEY:A4XS2E1M61EQ SECRET KEY:607f2d79d7a5fd0d7f2f53cbbcc61da0 -->
        <!-- 【必须】 请将YOUR_ACCESS_ID修改为APP的AccessId，“21”开头的10位数字，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_ID"
            android:value="2100153480" />
        <!-- 【必须】 请将YOUR_ACCESS_KEY修改为APP的AccessKey，“A”开头的12位字符串，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_KEY"
            android:value="A91IJE8B3M6G" />

        <activity android:name=".view.activity.EditIPActivity"></activity>
        <activity android:name=".view.activity.ProcessMonitoringSubMissionActivity"></activity>
    </application>

</manifest>